.bandImg__main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)),
    url("https://cdn.pixabay.com/photo/2013/11/25/17/11/inferno-218078__480.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
